<div class="col s12 m3" id="riverListView">
    <div class="card light-blue lighten-5">
        <div class="card-content white-text">
            <p class="flow-text">Fraser River</p>
        </div>
    </div>
</div>

<script src="javascripts/riverList.js"></script>