<div class="col s12 m4" id="riverListView">
    <div class="card light-blue lighten-5">
        <div class="card-content white-text">
            <span class="card-title">Fraser River</span>
        </div>
    </div>
</div>

<script src="javascripts/riverList.js"></script>