<!DOCTYPE html>
<html>
<head>
	<title>Salmon Project</title>
</head>
<body>
	<div id="top">
		This is Salmon Project
	</div>
	<div id="userData">
		<form action="/" method="post">
			<input type="text" id="river_width" name="river_width" placeholder="Please, enter river width">
			<input type="text" id="river_depth" name="river_depth" placeholder="Please, enter river depth">
			<input type="submit" value="Submit">
		</form>
	</div>

</body>
</html>