<!DOCTYPE html>
<html>
    <head>
        <title>Fakoot</title>
        {{> head}}
        <link rel="stylesheet" type="text/css" href="styles/index.css">
    </head>
    <body>
        {{> menu}}
        <div id="content">
            <div class="background" id="contentBackground"></div>
            <div class="row">
                <div class="col s12 m6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                        <span class="card-title">Card Title</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                        <form action='/stream_results' method='post'>
                            <div id="form">                                
                                <input type="text" id='river_name' name="river_name" placeholder="river name">
                                <input type="text" id='stream_name' name="stream_name" placeholder="stream name">
                                <input type="text" id='sweep_number' name="sweep_number" placeholder="sweep number">
                                <input type="text" id='fish_caught' name="fish_caught" placeholder="fish caught per sweep">
                                <input type="text" id='cumulative_number' name="cumulative_number" placeholder="cumulative number">
                                <input type="submit" value="Submit" id='submitbutton'>
                            </div>
                        </form>
                        </div>
                        <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="javascripts/index.js"></script>
        {{> scripts}}
    </body>
</html>